 *{
    font-weight: 500;
}
.navbar-custom {
    background-color: #003580;
  }
  .navbar-custom a, .navbar-custom .dropdown-item {
    color: white !important;
  }
  .navbar-custom .btn {
    color: #003580;
    background-color: white;
    border-radius: 4px;
    margin-left: 10px;
  }
  .options-container {
    background-color: #003580;
    padding: 10px 0;
  }
  .options-container a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
  }
  .options-container a:hover {
    text-decoration: underline;
  }
  .options-container .active {
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 20px;
  }
  .options-container i {
    margin-right: 5px;
  }

  .home {
    background-color:  #003580;
    padding: 20px;
}
.heading {
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero1{
    background-color: #003580;
    padding: 20px;
    color: white;
    text-align: left;
    margin-top: 20px;
    border-radius: 4px;
}
.home-top {
    text-align: left;
}

.search-bar {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 100%;
    max-width: 90%;
    border: 1px solid #e0de48;
    border-radius: 4px;
} 

