/* *{
    font-weight: 500;
}
.navbar-custom {
    background-color: #003580;
  }
  .navbar-custom a, .navbar-custom .dropdown-item {
    color: white !important;
  }
  .navbar-custom .btn {
    color: #003580;
    background-color: white;
    border-radius: 4px;
    margin-left: 10px;
  }
  .options-container {
    background-color: #003580;
    padding: 10px 0;
  }
  .options-container a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
  }
  .options-container a:hover {
    text-decoration: underline;
  }
  .options-container .active {
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 20px;
  }
  .options-container i {
    margin-right: 5px;
  }

  .home {
    background-color:  #003580;
    padding: 20px;
}
.heading {
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero1{
    background-color: #003580;
    padding: 20px;
    color: white;
    text-align: left;
    margin-top: 20px;
    border-radius: 4px;
}
.home-top {
    text-align: left;
}

.search-bar {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 100%;
    max-width: 90%;
    border: 1px solid #e0de48;
    border-radius: 4px;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}
html,body{
    width: 100%;
    min-height: 100vh;
    position: relative;
}
nav{
    width: 100%;
    min-height: 100px;
    background-color: rgb(3, 54, 196);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    padding: 10px 150px;
}
.nav-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-top h4{
    font-size: 25px;
    font-weight: 800;
    color: #fff;
}
.nav-top-right p{
   padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    transition: all ease-in .4s;
    cursor: pointer;
    color: #fff;
}
.nav-top-right button{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: white;
    color: rgb(3, 54, 196);
    border: none;
}
.nav-top-right img, .nav-top-right svg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.nav-top-right p:hover{
    background-color: rgba(255, 255, 255, 0.233);
}
.nav-bot{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}
.nav-bot div, .nav-top-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.nav-bot div{
    min-width: 100px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #fff;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
}
.nav-bot div:hover{
    background-color: rgba(255, 255, 255, 0.226);
}
.nav-top-right{
    gap: 20px;
}

/* hero */
.hero{
    width: 100%;
    min-height: 60vh;
    background-image: url(./images/hero.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 40px 150px;
}
.hero .hero-con{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #fff;
}
.hero-con h1{
    font-size: 4vw;
    font-weight: 900
}
.hero-con h3{
    font-size: 2vw;
    font-weight: 500;
}
.hero-con button{
    width: 50%;
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: rgb(3, 54, 196);
    font-size: 15px;
    font-weight: 800;
}

/* offers */
.offers{
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    justify-content: center;
    padding: 150px 150px;
    padding-bottom: 40px;
}
.offers h2{
    font-size: 25px;
    font-weight: 800;
}
.offers-cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.offers-card{
    width: 50%;
    border: 1px solid #00000085;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 10px;
}
.offers-card-1{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    justify-content: center;
}
.offers-card-1 h4{
    font-size: 20px;
    font-weight: 600;
}
.offers-card-1 p{
    font-size: 12px;
    font-weight: 500;
}
.offers-card-1 button{
    width: 60%;
    padding: 12px 10px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: rgb(3, 54, 196);
    font-size: 13px;
    font-weight: 500;
}
.offers-card img{
width: 30%;
height: 120px;
object-fit: cover;
object-position: center;
border-radius: 10px;
}